Source: libroadrunner
Priority: optional
Maintainer: Kyle Medley <0u812github@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake, llvm-3.5-dev, libxml2-dev, ncurses-dev
Standards-Version: 3.9.4
Section: libs
Homepage: http://libroadrunner.org/
Vcs-Git: git@github.com:sys-bio/roadrunner.git
Vcs-Browser: https://github.com/sys-bio/roadrunner

Package: libroadrunner-dev
Section: libdevel
Architecture: any
Depends: libroadrunner1 (= ${binary:Version})
Description: Simulation library for SBML
 libRoadRunner is a ODE/stochastic simulation and
 modeling environment for SBML

Package: libroadrunner1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simulation library for SBML
 libRoadRunner is a ODE/stochastic simulation and
 modeling environment for SBML
