[submodule "third_party/bzip2"]
	path = third_party/bzip2
	url = https://github.com/CiaranWelsh/bzip2.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/CiaranWelsh/zlib.git
[submodule "third_party/iconv"]
	path = third_party/iconv
	url = https://github.com/CiaranWelsh/iconv.git
[submodule "third_party/CLAPACK"]
	path = third_party/CLAPACK
	url = https://github.com/CiaranWelsh/CLAPACK.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/nleq2"]
	path = third_party/nleq2
	url = https://github.com/CiaranWelsh/nleq2.git
[submodule "third_party/nleq1"]
	path = third_party/nleq1
	url = https://github.com/CiaranWelsh/nleq1.git
[submodule "third_party/libxml2"]
	path = third_party/libxml2
	url = https://github.com/CiaranWelsh/libxml2.git
[submodule "third_party/poco"]
	path = third_party/poco
	url = https://github.com/CiaranWelsh/poco.git
[submodule "third_party/rr-libstruct"]
	path = third_party/rr-libstruct
	url = https://github.com/CiaranWelsh/rr-libstruct.git
[submodule "third_party/sundials"]
	path = third_party/sundials
	url = https://github.com/CiaranWelsh/sundials.git

[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
