[submodule "third_party/bzip2"]
	path = third_party/bzip2
	url = https://github.com/CiaranWelsh/bzip2.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/CiaranWelsh/zlib.git
