Source: libroadrunner
Priority: optional
Maintainer: Kyle Medley <0u812github@gmail.com>
# libSBML deps: libxml2-dev
# LLVM deps: ncurses-dev, libz-dev
# Python deps: python-dev, swig
Build-Depends: debhelper (>= 8.0.0), git, cmake, llvm-3.5-dev, libxml2-dev, ncurses-dev, libz-dev, python-dev, swig, python-numpy
Standards-Version: 3.9.4
Section: libs
Homepage: http://libroadrunner.org/
Vcs-Git: git@github.com:sys-bio/roadrunner.git
Vcs-Browser: https://github.com/sys-bio/roadrunner

Package: libroadrunner-python
Section: libdevel
Architecture: any
Depends: libroadrunner (= ${binary:Version}), python-numpy
Description: Python bindings for libroadrunner

Package: libroadrunner-dev
Section: libdevel
Architecture: any
Depends: libroadrunner (= ${binary:Version})
Description: Simulation library for SBML
 libRoadRunner is a ODE/stochastic simulation and
 modeling environment for SBML

Package: libroadrunner
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libroadrunner-deps (>= 2.0.2)
Description: Simulation library for SBML
 libRoadRunner is a ODE/stochastic simulation and
 modeling environment for SBML
