Source: libroadrunner-deps
Priority: optional
Maintainer: Kyle Medley <0u812github@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake, libxml2-dev
Standards-Version: 3.9.4
Section: libs
Homepage: http://libroadrunner.org/
Vcs-Git: git@github.com:sys-bio/roadrunner.git
Vcs-Browser: https://github.com/sys-bio/roadrunner

Package: libroadrunner-deps-dev
Section: libdevel
Architecture: any
Depends: libroadrunner-deps (= ${binary:Version})
Description: Dependencies for libroadrunner

Package: libroadrunner-deps
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Dependencies for libroadrunner
