#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# %:
# 	dh $@
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk

DEB_SRCDIR = ../../..

# Whatever knucklehead set this default behavior should be forced to clean up
# every single warning in clapack
CFLAGS   = -Wno-error
CPPFLAGS = -Wno-error
CXXFLAGS = -Wno-error

DEB_CMAKE_NORMAL_ARGS += -DLLVM_CONFIG_EXECUTABLE=/usr/lib/llvm-3.5/bin/llvm-config -DTHIRD_PARTY_INSTALL_FOLDER=/home/user/devel/install/roadrunner-deps
